p {
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .video-title {
    font-weight: bold;
    font-size: 18px;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-left: 8px; 
  }

  .video-stats {
    font-size: 14px;
    color:  rgb(96, 96, 96);
    margin-bottom: 20px;
    margin-left: 8px;
  }

  .video-author {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 8px;
  }

  .video-description  {
    font-size: 14px;
    color:  rgb(96, 96, 96);
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
    margin-left: 8px;
  }

  .apple-text {
    margin-bottom: 90px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .shop-now-text {
    cursor: pointer;
  }

  .shop-now-text:hover {
    text-decoration: underline;
  }

  .html-css-course-title {
    font-family: Verdana;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 8px;
  }

  .beginner-to-pro-text {
    font-family: Verdana;
    color: rgb(132, 130, 130);
    margin-bottom: 20px;
    margin-left: 8px;
  }

  .course-description {
    font-family: Verdana;
    width: 280px;
    font-size: 15px;
    margin-left: 8px;
  }

  .get-started-button {
    margin-top: 20px;
    background-color: forestgreen;
    color: white;
    padding: 12px; 
    padding-top: 4.5px;
    padding-bottom: 4.5px; 
    border-style: solid; 
    border-color: forestgreen;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: color 0.55s, 
    background-color 0.55s, 
    border-color 0.55s;
    margin-bottom: 80px;
    margin-left: 8px;
  }
  
  .get-started-button:hover {
    color: forestgreen;
    background-color: white;
    border-color: forestgreen;
    transition: color 0.55s, 
    background-color 0.55s, 
    border-color 0.55s ease;
  }

  .get-started-button:active {
    opacity: .55;
    transition: opacity 0.45s ease;
  }

  .shopping-title {
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }

  .shopping-description {
    text-align: center;
    font-size: 15px;
    margin-top: 0;
    font-family: Arial;
  }

  .learn-more-link {
    text-align: center;
    font-size: 15px;
    font-family: Arial;
    margin-top: 20px;
    color: rgb(91, 91, 185);
    cursor: pointer;
  }

  .learn-more-link:hover {
    text-decoration: underline;
  }